.container {
    margin: 2px;
}

.rowContainer {
    margin: 2px;
    display: flex;
    flex-flow: column nowrap;
    width: 800px;
    border-top: 2px solid green;
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.row {
    border-bottom: 2px solid green;
    margin: 0;
    
    display: flex;
    list-style: none;

    .isbn {
        width: 20%;
    }
    .created_at {
        width: 30%;
    }
    .updated_at {
        width: 30%;
    }
    .status {
        width: 20%;
    }
    .cell {
        text-align: center;
        border-collapse: collapse;
    }
}


.item {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
}

