.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1f;

    width: 100%;
    justify-items: center;
    align-items: center;

    svg {
        font-size: 2rem;
    }
}

.logo {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        font-size: 2rem;
    }
}

.toogle-tab {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 0 2rem;
    background-color: #333;
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 0.5rem 0 0.5rem;


    div {
        width: 6rem;
        height: 2rem;
        // background-color: aquamarine;
        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        border: solid 6px aquamarine;

        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        cursor: pointer;
    }
    .on {
        background-color: red;
    }
    svg {
        font-size: 1rem;
    }
}
