.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  .fakeImage {
    height: 8rem;
    background-color: yellow;
    padding: 0.1rem;
  }

  ul {
    background-color: green;
    list-style: none;
    padding: 0.5rem;

    li {
      position: relative;
      margin-left: 4rem;
      span {
        font-weight: bold;
        position: absolute;
        transform: translate(-110%, 0);
      }
    }
  }
}
