.header {
    // padding: 1rem;
    background-color: #191645;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1f;

    width: 100%;
    justify-items: center;
    align-items: center;

    svg {
        font-size: 2rem;
    }
}

.logo {
    padding: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        font-size: 2rem;
    }
}

.toogle-tab {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 0 2rem;
    background-color: #333;
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    align-self: flex-end;

    a {
        border-radius: 0.7rem 0.7rem 0rem 0rem;
        // border: solid 6px aquamarine;
        padding: 0 0.2rem;
        padding-top: 0.2rem;
        padding-bottom: 0.1rem;

        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        cursor: pointer;
    }
    .on {
        background-color: red;
    }
    .search {
        background-color: black;
    }
    .request {
        background-color: black;
    }
    svg {
        font-size: 1rem;
    }
}
