.container {
  // background-color will auto chosen
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h2 {
    position: relative;

    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    span {
      color: #3700b3;
    }
  }
  .anime {
    position: absolute;
    top: 0;
    left: -0.5rem;

    transition: 1s;
    opacity: 0;
    z-index: 1;
  }

  &:focus-within {
    .anime {
      opacity: 1;
      left: -2rem;
    }
  }

  input {
    padding: 0.2rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: 0px;
    text-align: center;
    outline-style: none;
  }

  svg {
    cursor: pointer;
    font-weight: bold;
  }

  label {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 0.4rem;
    border-radius: 999px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    transition: 0.01s;
    border: 3px solid transparent;
    &:focus-within {
      border: 3px solid white;
    }
  }
}
