.container {
  background-color: #74959a;
  border: solid #4280c9 7px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  // border-radius: 0.5rem;
  // padding: 0 0.5rem;

  h2 span {
    color: #3700b3;
  }

  label {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    padding: 0 0.4rem;

    border: 3px solid transparent;
    transition: 0.01s;
    &:focus-within {
      border: 3px solid white;
    }
  }
  input {
    padding: 0.2rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: transparent;
    text-align: center;
    &:focus {
      outline-style: none;
    }
  }
  svg {
    cursor: pointer;
  }
}
