.container {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    align-items: center;
    background-color: #4280c9;
    color: white;
}

.nav {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}
      