.container {
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  // align-items: center;

  background-color: #d8d2cb;
  border-radius: 2rem;
  overflow: hidden;
}
.main {
  min-height: 400px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;

  div:nth-child(1) {
    background-color: #74959a;
  }

  div:nth-child(2) {
    background-color: #98b4aa;
  }
}
.detail-search {
  min-height: 100px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 1rem 4rem;
  background-color: #F1E0AC;
}
