.container {
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  // align-items: center;

  background-color: #191645;
  overflow: hidden;
}

.detail-search {
  min-height: 100px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  div {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.4rem;
    border-radius: 999px;
    border: 2px solid black;
    cursor: pointer;
    svg {
      margin-left: 0.5rem;
    }
  }
}
// .detail-search:hover {
//   // filter: drop-shadow(5px 5px 10px #333);
// }

.footer {
  padding: 1rem 4rem;
  background-color: #f1e0ac;
}
//
