.container {
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  // align-items: center;

  background-color: #d8d2cb;
  border-radius: 2rem;
  overflow: hidden;
}

.detail-search {
  min-height: 100px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  div {
    background-color: rgba(0,0,0,0.2);
    padding: 0.4rem;
    border-radius: 999px;
    border: 2px solid black;
    cursor: pointer;
    svg {
      margin-left: 0.5rem;
    }
  }
}

.footer {
  padding: 1rem 4rem;
  background-color: #F1E0AC;
}
//

